@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* @keyframes slide-in-left {
  0% {
    transform: translateX(15vh);
  }
  100% {
    transform: translateX(200vh);
  }
}
.fade-in {
  animation: fadeOut 3s forwards;
}

@keyframes fadeOut {
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.slide-in-left {
  animation-name: slide-in-left;
  animation-duration: 3s;
  animation-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
  animation-fill-mode: forwards;
} */


.ol-scale.ol-control {
  display: none;
}

.ol-scale-line {
  pointer-events: none;
  visibility: hidden;
  position: absolute;
  left: 1rem;
  bottom: 10%;
}

.latLon {
  color: #1F2937;
  position: absolute;
  left: 1rem;
  bottom: 2.5rem;
  display: flex;
  align-items: center;

  span {
    margin-left: 0.2rem;
  }
}


